@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Pro', sans-serif;
}
:root {
  /* --cyan-variant: #055697; */
  --cyan-variant:goldenrod;
}

body {
  background: #000 !important;
  color: #000 !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
.navbar{
  background-color: #000;
}

.navbar-brand {
  color: var(--cyan-variant) !important;
  font-weight: 600;
}
.connect-wallet-btn {
  color: #fff;
  background-color: var(--cyan-variant);
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 7px;
  display: grid;
  place-items: center;
}

.image-box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.phrase {
  background-color: var(--cyan-variant);
  width: fit-content;
  padding: 0.4rem 5rem;
  color: #fff;
  margin-bottom: 2rem;
}

footer p {
  text-align: center;
}
.phrase-textarea {
  outline: none;
  border: 2px solid rgb(194, 191, 191);
  height: 10rem;
  padding: 10px;
  resize: none;
  border-radius: 7px;
  font-size: 18px;
}
.submit-btn {
  color: #fff;
  background-color: var(--cyan-variant);
  border: none;
  font-weight: 600;
  border-radius: 7px;
  display: grid;
  padding: 0.5rem 5rem;
  font-size: 18px;
}

@media screen and (max-width: 575px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid .image-box {
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .connect-wallet-btn {
    margin-top: 15px;
  }
  .phrase-textarea {
    width: 90vw;
  }
  p {
    margin: 0 20px;
  }
}
